#login form #connect {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 1rem;
    font-size: 1.1rem;
}

#login {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    max-width: 100vw;
}
